.booking-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--color-background); /* Nền chính */
    color: var(--color-text-primary); /* Màu chữ chính */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.booking-list {
    margin-top: 20px;
}

.booking-item {
    border: 1px solid var(--color-border-light);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--color-accent); /* Màu nền trắng */
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.booking-item:hover {
    background-color: var(--color-container); /* Màu khi hover */
}

.invoice {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-accent);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-x: auto;

}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.invoice th, .invoice td {
    border: 1px solid var(--color-border-light);
    padding: 5px;
    text-align: left;
    color: var(--color-text-primary); /* Màu chữ chính */
}

.invoice button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: var(--color-button-active); /* Màu nền button */
    color: var(--color-text-white); /* Màu chữ button */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.invoice button:hover {
    background-color: var(--color-button-active); /* Màu button khi hover */
}
